.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
}
.cal-wapper {
  width: 400px;
  height: 600px;
}
.row {
  display: flex;
  background-color: #9999ff;
  width: 100%;
}
